@using PaiXie.Data;
@using PaiXie.Core;
@{
    var warehousePrintTemplate = ViewBag.WarehousePrintTemplate as WarehousePrintTemplate;
    var fieldName = warehousePrintTemplate.TypeID == (int)PrintTemplateType.拣货单 ? ",LocationCode" : "";
    var fieldTitle = warehousePrintTemplate.TypeID == (int)PrintTemplateType.拣货单 ? " + 库位编码" : "";
    ViewBag.Title = "设置明细项";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style>
        .no {
            vertical-align: -3px;
        }
    </style>
}
<form id="ff" method="post" novalidate>
    <input type="hidden" id="hdnID" name="ID" value="@warehousePrintTemplate.ID" />
    <input type="hidden" id="hdnPrintProField" name="PrintProField" value="@warehousePrintTemplate.PrintProField" />
    <input type="hidden" id="hdnTypeID" name="TypeID" value="@warehousePrintTemplate.TypeID" />
    <div style="width: 400px; height: 50px; margin: 10px auto; text-align: center; line-height:50px; border: 1px solid #ccc; background-color: #f2f2f2; ">
        <label style="color:red;">提示：</label>请选择需要打印明细组合
    </div>
    <table id="tblAdd" style="margin:20px auto; line-height:28px;">
        <tr>
            @{if (@warehousePrintTemplate.TypeID == (int)PrintTemplateType.发货单) {
            <td style="width:30%;">&nbsp;</td>
              }
              else {
            <td style="width:20%;">&nbsp;</td>
              }
            }
            <td>
                <input type="radio" id="rabSku_0" name="rabSku" class="no" value="ProductsCode,ProductsSkuSaleprop,ProductsNum@(fieldName)" /><label for="rabSku_0">商品编码 + 商品属性 + 数量@(fieldTitle)</label>
                <br /><input type="radio" id="rabSku_1" name="rabSku" class="no" value="ProductsName,ProductsSkuSaleprop,ProductsNum@(fieldName)" /><label for="rabSku_1">商品名称 + 商品属性 + 数量@(fieldTitle)</label>
                <br /><input type="radio" id="rabSku_2" name="rabSku" class="no" value="ProductsName,ProductsSkuCode,ProductsNum@(fieldName)" /><label for="rabSku_2">商品名称 + 商品SKU码 + 数量@(fieldTitle)</label>
                <br /><input type="radio" id="rabSku_3" name="rabSku" class="no" value="ProductsSkuCode,ProductsNum@(fieldName)" /><label for="rabSku_3">商品SKU码 + 数量@(fieldTitle)</label>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                @{if (@warehousePrintTemplate.TypeID == (int)PrintTemplateType.发货单) {
                    <span>
                        &nbsp;&nbsp;可选项：<input type="checkbox" id="chkSellingPrice" class="no" value="SellingPrice" /><label for="chkSellingPrice">单价</label>&nbsp;&nbsp;
                        <input type="checkbox" id="chkLocationCode" class="no" value="LocationCode" /><label for="chkLocationCode">库位编码</label>
                    </span>
                }
                }
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                字段宽度设置：<input type="text" id="txtPrintProFieldWidth" name="PrintProFieldWidth" class="easyui-validatebox" style="width:266px;" data-options="validType:'length[0,100]',height:30" value="@warehousePrintTemplate.PrintProFieldWidth">
                <br /><span style="color: #999; ">例如：20%,20%,15%,15%,30%，每个字段按顺序，用“,”隔开</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; padding-top: 25px">
                <a href="javascript:void(0);" class="button-oky" id="btnSave" iconcls="icon-ok">确定</a>
                <a href="javascript:void(0);" class="button-cancel" iconcls="icon-cancel" id="btnClose">取消</a>
            </td>
        </tr>
    </table>
</form>
@section bottom{
    <script>
        $(document).ready(function () {
            var typeID = $("#hdnTypeID").val();
            var printProField = $("#hdnPrintProField").val();
            if (typeID == '@((int)PrintTemplateType.发货单)') {
                if (printProField.indexOf(",SellingPrice") != -1) {
                    $("#chkSellingPrice").attr("checked", true);
                    printProField = printProField.replace(",SellingPrice", "");
                }
                if (printProField.indexOf(",LocationCode") != -1) {
                    $("#chkLocationCode").attr("checked", true);
                    printProField = printProField.replace(",LocationCode", "");
                }
            }
            $.each($('input:radio[name="rabSku"]'), function (index, element) {
                if ($(this).val() == printProField) {
                    $(this).attr("checked", true);
                }
            });
            $("#btnClose").click(function () {
                parent.$('#localWin').window('close');
            });
            $("#btnSave").click(function () {
                var id = $("#hdnID").val();
                var skuFields = $('input:radio[name="rabSku"]:checked').val();
                var printProFieldWidth = $('#txtPrintProFieldWidth').val();
                if (skuFields == null) {
                    $.MsgBox.Alert("提示", "请选择打印明细组合！");
                } else {
                    if (typeID == '@((int)PrintTemplateType.发货单)') {
                        if ($("#chkSellingPrice").attr("checked")) {
                            skuFields += "," + $("#chkSellingPrice").val();
                        }
                        if ($("#chkLocationCode").attr("checked")) {
                            skuFields += "," + $("#chkLocationCode").val();
                        }
                    }
                    $.ajax({
                        url: "/Warehouse/PrintTemplate/SavePrintPro?id=" + id + "&skuFields=" + skuFields + "&printProFieldWidth=" + printProFieldWidth,
                        type: "GET",
                        cache: false,
                        success: function (r) {
                            var map = $.parseJSON(r);
                            if (map.result == 1) {
                                $("#btnClose").click();
                            } else {
                                $.MsgBox.Alert("提示", map.message);
                            }
                        },
                        error: function () {
                            $.MsgBox.Alert("提示", "操作失败！");
                        }
                    });
                }
            });
        });
    </script>
}