@using PaiXie.Data
@using PaiXie.Service
@using PaiXie.Core
@{
    var ordbase = ViewBag.Ordbase as Ordbase;
    var outboundList = ViewBag.OutboundList as List<WarehouseOutbound>;
    var outboundItemList = ViewBag.OutboundItemList as List<WarehouseOutboundPickItemWebInfo>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style>
        a {
            text-decoration: none;
        }

        .tagcont {
            color: #666666;
        }

        .tableinfoa {
            margin-top: 0px;
        }

            .tableinfoa th.title {
                background: #436fac;
                color: #fff;
                text-align: left;
                padding-left: 15px;
                height:30px;
            }

            .tableinfoa .red, .red {
                color: #F00;
            }

            .tableinfoa .blue {
                color: #00F;
            }

        .list td {
            height: 50px;
            text-align: center;
        }

        .list th {
            text-align: center;
        }

        .totalnum {
            text-align: center;
        }

        .money {
            float: right;
            width: 300px;
            padding-right: 5px;
        }

            .money li {
                float: left;
                width: 150px;
                text-align: right;
                line-height: 24px;
                height: 24px;
            }

            .money b {
                float: left;
                width: 85px;
                text-align: right;
                font-weight: normal;
            }
    </style>
}
<div class="easyui-layout" data-options="fit:true" style="overflow-y:auto;">
    <div data-options=" region:'north',height:120" id="topdiv">
        <ul class="tag" style="padding-top:20px">
            <li>基本信息</li>
            <li>商品列表</li>
            <li>收退款记录</li>
            <li class="current">发货记录</li>
            <li>售后记录</li>
            <li>订单日志</li>
        </ul>
        <div class="toolbar" id="toolbar" style="margin-top:-30px; padding-left:15px">
            <a id="addCollection" class="add" href="javascript:void(0)"><span></span>添加收款</a>
            <a id="addRefund" class="add" href="javascript:void(0)"><span></span>添加退款</a>
            <a id="addoffer" class="add" href="javascript:void(0)"><span></span>添加优惠</a>
            <a id="" class="add unclick" href="javascript:void(0)"><span></span>添加售后</a>
            <a id="pendingOrder" class="" href="javascript:void(0)">挂起订单</a>
            <a id="cancelOrder" class="" href="javascript:void(0)">取消订单</a>
            <a id="addRemarks" class="add" href="javascript:void(0)"><span></span>添加备注</a>
            <a id="distributionWarehouse" class="" href="javascript:void(0)">分配仓库</a>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div class="tagcont p0lr22">
            <input type="hidden" id="hdnIsOrderDetails" value="2" />
            <input type="hidden" id="hdnIsHand" value="@(ordbase.IsHang)" />
            <input type="hidden" id="hdnAbnormalAmount" value="@(ordbase.ReceivableAmount - ordbase.UncollectedeAmount - ordbase.RealAmount + ordbase.RefundAmount)" />
            <input type="hidden" id="hdnOrderStatus" value="@(ordbase.OrderStatus)" />
            <input type="hidden" id="hdnErpOrderCode" value="@ordbase.ErpOrderCode" />
            <div class="tagcont p0lr22">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableinfoa list">
                    <tr>
                        <th colspan="8" class="title">发货记录</th>
                    </tr>
                    <tr>
                        <th>出库单号</th>
                        <th>发货仓库</th>
                        <th>创建时间</th>
                        <th>商品数量</th>
                        <th>发货快递</th>
                        <th>物流单号</th>
                        <th>发货时间</th>
                        <th>状态</th>
                    </tr>
                    @{
                        int index = 0;
                        foreach (var outbound in outboundList) {
                            <tr onmousemove="javascript: Onmousemove(@(outbound.ID))" onmouseout="javascript: Onmouseout(@(outbound.ID))" onclick="javascript: SelectOutbound(@(outbound.ID))" id="tr@(outbound.ID)" class="@(index == 0 ? "datagrid-row datagrid-row-selected" : "")">
                                <td>@(outbound.BillNo)</td>
                                <td>@(WarehouseService.GetwarehousebyCode(outbound.WarehouseCode).Name)</td>
                                <td>@(outbound.CreateDate)</td>
                                <td>@(outbound.ProductsNum)</td>
                                <td>@(outbound.DeliveryExpressID == 0 ? "" : WarehouseExpressService.GetQuerySingleByID(outbound.DeliveryExpressID).Name)</td>
                                <td>@(outbound.WaybillNo)</td>
                                <td>@(outbound.DeliveryDate)</td>
                                <td>@(Enum.Parse(typeof(WarehouseOutboundStatus), outbound.Status.ToString()))</td>
                            </tr>
                            index++;
                        }
                         if (index == 0) {
                            <tr><td style="height: 35px; text-align: center; color:#888;" colspan="8">没有相关记录！</td></tr>
                        }
                    }
                </table>
                @{
                    int index1 = 0;
                    foreach (var outbound in outboundList) {
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableinfoa list" id="table@(outbound.ID)" @(index1 == 0 ? "" : "style=display:none")>
                            <tr>
                                <th colspan="13" class="title">出库单商品[@(outbound.BillNo)]</th>
                            </tr>
                            <tr>
                                <th>商品编码</th>
                                <th>商品名称</th>
                                <th>属性</th>
                                <th>SKU码</th>
                                <th>单位</th>
                                <th>税率</th>
                                <th>销售单价</th>
                                <th>数量</th>
                                <th>优惠金额</th>
                                <th>成本价</th>
                                <th>重量</th>
                                <th>批次</th>
                            </tr>
                            @foreach (var item in outboundItemList.Where(r => r.OutboundID == outbound.ID).ToList()) {
                                <tr>
                                    <td>@(item.ProductsCode)</td>
                                    <td>@(item.ProductsName)</td>
                                    <td>@(item.ProductsSkuSaleprop)</td>
                                    <td>@(item.ProductsSkuCode)</td>
                                    <td>@(item.ProductsUnit)</td>
                                    <td>@(item.TaxRate * 100)</td>
                                    <td><span class="red">￥</span>@(item.ActualSellingPrice)</td>
                                    <td>@(item.Num)</td>
                                    <td><span class="red">￥</span>@(item.DiscountAmount * item.Num)</td>
                                    <td><span class="red">￥</span>@(item.CostPrice)</td>
                                    <td>@(item.ProductsWeight)</td>
                                    <td>@(item.ProductsBatchCode)</td>
                                </tr>
                            }
                        </table>
                            index1++;
                    }
                }
            </div>
        </div>
    </div>
</div>
@section bottom{
    <script src="~/Areas/Order/ViewJs/Details.js"></script>
    <script>
        function Onmousemove(id) {
            $("[id^=tr]").removeClass("datagrid-row datagrid-row-over");
            $("#tr" + id).addClass("datagrid-row datagrid-row-over");
        }

        function Onmouseout(id) {
            $("#tr" + id).removeClass("datagrid-row datagrid-row-over");
        }

        function SelectOutbound(id) {
            $("[id^=table]").hide();
            $("[id^=tr]").removeClass("datagrid-row datagrid-row-selected");
            $("#tr" + id).addClass("datagrid-row datagrid-row-selected");
            $("#table" + id).show();
        }
    </script>
}
