@using PaiXie.Data
@{
    ViewBag.title = "供应商商品列表";
    Suppliers suppliers = ViewBag.Suppliers as Suppliers;
    var productsCount = ViewBag.ProductsCount;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{

}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:148" id="topdiv">
        <div class="toolbar" id="toolbar">
            <a href="javascript:void(0);" class="back" id="back"><span></span>返回</a>
            <a href="javascript:void(0);" class="add" id="add"><span></span>添加采购价</a>
            <a href="javascript:void(0);" id="import">表格导入</a>
            <a href="javascript:void(0);" class="del unclick" id="del"><span></span>删除</a>
            <a href="javascript:void(0);" id="refreshCurrentPage" style="display:none;"><span></span>刷新当前页</a>
        </div>
        <div class="searchpro" id="searchpro">
            <input type="hidden" id="hdnSuppliersID" name="SuppliersID" value="@suppliers.ID">
            <select id="keyWordType" name="keyWordType" class="easyui-combobox" data-options="height:30,width:100,editable:false">
                <option value="">关键字类型</option>
                <option value="商品名称">商品名称</option>
                <option value="商品编码" selected>商品编码</option>
                <option value="商品货号">商品货号</option>
                <option value="商品SKU码">商品SKU码</option>
            </select>
            <input type="text" id="txtKeyWord" value="" style="width:150px;">
            <input type="submit" id="btnSearch" value="搜索" class="button">
            <input type="reset" id="btnReset" value="清空条件" class="button-rest">
        </div>
        <div class="reservoirifo p0lr22">
            <span>供应商名称: @suppliers.Name</span>
            <span>联系人: @suppliers.ContactPerson</span>
            <span>电话: @suppliers.Tel</span>
            <span>商品数量: <label id="lblProductsCount">@productsCount</label></span>
        </div>
    </div>
    <div data-options="region:'center',border:false" class="p0lr22">
        <table id="grid" class="easyui-datagrid" title="" data-options="singleSelect:false,collapsible:true,method:'get'"></table>
    </div>
</div>
@section bottom{
    <script src="~/Areas/Purchase/ViewJs/SuppliersItemInfoList.js"></script>
}
