@using PaiXie.Data
@{
    var warehouseLocation = ViewBag.WarehouseLocation as WarehouseLocation;
    var productsNum = ViewBag.ProductsNum;
    ViewBag.Title = "查看库位商品库存";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<style>
    .proinfo {
        padding-left: 15px;
    }
</style>
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:156" style="overflow:hidden">
        <div class="toolbar" id="toolbar">
            <a id="back" class="back" href="javascript:void(0);"><span></span>返回</a>
        </div>
        <div class="p0lr22">
            <input type="hidden" id="hdnLocationID" value="@warehouseLocation.ID" />
            <input type="hidden" id="hdnParentID" value="@warehouseLocation.ParentID" />
            <div class="proinfo">
                <p><b>库位名称:</b> @warehouseLocation.Name</p>
                <p><b>库位编码:</b> @warehouseLocation.Code</p>
                <p><b>商品数量:</b> @productsNum</p>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" class="p0lr22">
        <table id="grid" class="easyui-datagrid" title="" data-options="singleSelect:false,collapsible:true,method:'get'"></table>
    </div>
</div>
@section bottom{
    <script src="~/Areas/Warehouse/ViewJs/ShowLocationProducts.js"></script>
}
